{% extends 'base.html' %}
{% block content %}
    <div>
        Акции {{ stock.name }} ({{ stock.ticker }}) <img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="40" />
    </div>
    <div>
        <form method="POST" action="{% url 'stock:buy' stock.pk %}">
            {% csrf_token %}
            {{ form }}
            <button>Купить</button>
        </form>
    </div>
    <div>
        <a href="{% url 'stock:list' %}">Назад к списку</a>
    </div>
{% endblock %}

<tbody>
{% for stock in stocks %}
    <tr>
        <td>
            {% if stock.logo %}
            <img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="40" /></td>
            {% endif %}
        <td>{{ stock.ticker }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.get_random_price }}{{ stock.currency.sign }}
            <a href="{% url 'stock:detail' stock.pk %}">Купить</a> 
        </td>
    </tr>
{% endfor %}
</tbody>
